<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/class.css">
    <title>Document</title>
</head>
<body>
    <div id="navigation">
        <p id="logo-txt" class-ID="<%= class_ID %>" sub-code="<%= sub_code %>">
            <%= class_ID %> : <%= sub_code %>
            <span>
                <%= editoption== true?"(Editable)":"(Read-Only)" %>
            </span>
        </p>

        <div id="nav-btns-cont">
            <% if(editoption) { %>
                <button id="edit-btn" class="nav-btns">Save</button>
    
            <% } else { %>
                <button id="edit-btn" class="nav-btns"><a href="/class/<%= class_ID %>/<%= sub_code%>/edit">Edit</a></button>
            <% } %>
            
        </div>
        <button id="home">
            <a href="/staff"> <img src="/home.svg" alt=""></a>
           

        </button>
        </div>
        <hr>
        <div></div>
    <div id="table-container1">
        <div id="table1" len="<%= data.length %>">
            <div class="header hr21">Name</div>
            <div class="header hr21">Attendance</div>
            <div class="header hc41">Unit Tests</div>
            <div class="header hc31">Assignment</div>
            <div class="header hr21">Quiz</div>
            <div class="header">1</div>
            <div class="header">2</div>
            <div class="header">3</div>
            <div class="header">Avg</div>
            <div class="header">1</div>
            <div class="header">2</div>
            <div class="header">Avg</div>
            
        
            <% for(let i = 0; i <data.length; i++){ %>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>" data="<%= data[i].college_ID%>" id="<%= `name${i+1}`%>"><%= data[i].name %></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>"></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>" id="<%= 'ia1' + `${i+1}`%>" contenteditable="<%= editoption%>"><%= data[i].ia1 %></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>" id="<%= 'ia2' + `${i+1}` %>" contenteditable="<%= editoption%>"><%= data[i].ia2 %></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>" id="<%= 'ia3' + `${i+1}` %>" contenteditable="<%= editoption%>"><%= data[i].ia3 %></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>"></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>" id="<%= 'as1' + `${i+1}` %>" contenteditable="<%= editoption%>"><%= data[i].as1 %></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>" id="<%= 'as2' + `${i+1}` %>" contenteditable="<%= editoption%>"><%= data[i].as2 %></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>"></div>
                <div class="td <%= i%2!= 0 ? 'light-grey': ' ' %>" id="<%= 'q' + `${i+1}` %>" contenteditable="<%= editoption%>"><%= data[i].q1 %></div>

            <% } %>
            
        </div>
    </div>
    <% if(editoption) { %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/classpage.js"></script>
    
    <% } %>
</body>
</html>