<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mng-sub.css">
    <title>Manage Subject</title>
</head>
<body>
    <dialog id="dialog-sub" class="border-gradient">
        <button id="dig-x" onclick="toggleDialog()"></button>
        <form action="">
            <div>
                <label for="" class="span2">Name</label>
                <input type="text" class="span2" id="sub_name">
            </div>
            
            
                <label for="">Scheme_ID</label>
                <select id="sub_scheme">
                    <% for(let i=0;i<scheme_ids.length;i++) { %>
                        <option value="<%= scheme_ids[i].id %>"><%= scheme_ids[i].id %></option>
                        <% } %>
                </select>
            
                <label for="">Sub_code</label>
                <input type="text" id="sub_code">
           
                <label for="">Credits</label>
                <input type="text" id="sub_credits">
            
                <label for="">Sem_ID</label>
                <select id="sub_sem">
                    <% for(let i=0;i<sem_ids.length;i++) { %>
                        <option value="<%= sem_ids[i].id %>"><%= sem_ids[i].id %></option>
                        <% } %>
                </select>
            <button class="span4 nav-btns" id="add-btn">Add</button>
        </form>
        
    </dialog>
    <div id="navigation">
        <p id="logo-txt">Manage Subject</p>
        <div id="nav-btns-cont">
            <button id="new-btn" class="nav-btns" onclick="toggleDialog()">Add Subject</button>
        </div>
        <button id="logout" onclick="document.location.href='/staff'">
            <img src="/home.svg" alt="">
        </button>
    </div>
    <hr>
    <div id="table">
            <div class="thead-div">SI.no.</div>
            <div class="thead-div">Sub-code</div>
            <div class="thead-div">Sub-name</div>
            <div class="thead-div">Credits</div>
            <div class="thead-div">Delete</div>
        <% for(let i = 0; i < subs.length; i++) { %>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%> si"><%= i + 1 %></div>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%>"><%= subs[i].sub_code %></div>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%>"><%= subs[i].name %></div>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%>"><%= subs[i].credits %></div>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%>">
                <button id="sub-delete" ></button>
            </div>
            

        <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/mng-sub.js"></script>

</body>
</html>