<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Manage staff</title>
    <link rel="stylesheet" href="/mng-staff.css">
</head>
<body>
    <dialog id="dialog">
        <button id="dig-x" onclick="toggleDialog()"></button>

        <div id="adddiv">
            <select name="" id="classes">
                <% for(let i=0;i<class_ary.length;i++) { %>
                    <option value="<%= class_ary[i].id %>"><%= class_ary[i].id %></option>
                    <% } %>
            </select>
            <select name="" id="subjects">
                <% for(let i=0;i<subcode_ary.length;i++) {%>
                    <option value="<%= subcode_ary[i].sub_code %>"><%= subcode_ary[i].sub_code %></option>
                <% } %>
            </select>
            <button class="add" id="add-btn" onclick="addAccess()">Add</button>
        </div>
        <h3>Access</h3>
        <div id="dialogAccess">
            
        </div>
    </dialog>
    <div id="navigation">
        <p id="logo-txt">Manage Staff</p>
        <button id="logout" onclick="document.location.href='/staff'">
            <img src="/home.svg" alt="">
        </button>
    </div>
    <hr>
    <div id="table">
        <% for(let i = 0; i < staff.length; i++) { %>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%>">
                <div>
                    <div><%= staff[i].ID %></div>
                    <div><%= staff[i].name %></div>
                </div>
                <button onclick="reqStaffaccess('<%= staff[i].ID%>')">Manage Access</button>
            </div>
        <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/mng-staff.js"></script>
</body>
</html>