<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/staff.css">
    <title>Staff</title>
</head>
<body>
    <nav>
        <p>Dashboard</p>
        <img src="/logout.svg" alt="" id="logout">
    </nav>
    <hr>
    <div>
        <div class="gridcontainer">
            <% for(let i = 0; i <cards.length; i++){ %>
            <div class="griditem">
                <div>
                    <p id="class">SubCode :</p><p id="class"> <%=cards[i].sub_code %></p>
                </div>
                <div>
                     <p id="subcode">Class :</p> <p id="subcode"><%= cards[i].class_ID %></p></div>
                <div>
                    <button class="item-btns" data = "/class/<%=cards[i].class_ID %>/<%=cards[i].sub_code %>/edit"><img src="/edit.svg" alt=""></button>
                    <button class="item-btns" data = "/class/<%=cards[i].class_ID %>/<%=cards[i].sub_code %>/view"><img src="/view.svg" alt=""></button>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/staff.js"></script>
</body>
</html>